   <header class="bg-teal-500 p-4 flex items-center justify-between">
    <h1 class ="font-extrabold font-serif text-3xl cursor-pointer " (click)="navigateToHomePage()" >Discourse</h1>
    <div class="flex items-end">
      <img src="assets/people2.png" alt="Logo" class="h-14   rounded">
    </div>
    <div>
      <button class="bg-white text-teal-500 px-4 py-2 rounded-md mr-2 transform hover:scale-110 transition duration-300 ease-out cursor-pointer" (click)="navigateToSignupPage()">
        Signup
      </button>
      <button class="bg-white text-teal-500 px-4 py-2 rounded-md transform hover:scale-110 transition duration-300 ease-out cursor-pointer"  (click)="navigateToLoginPage()">
        Login
      </button>
    </div>
  </header>
  