<div class="flex flex-col justify-center">
  <div *ngFor="let item of data" class="post-item w-auto justify-center">
    <!-- Displaying Post Card Component -->
    <app-posts-card [post]="item" 
                    [showComments]="showComments"
                    (viewComments)="toggleViewComments($event)" 
                    (deletePost)="onDeletePost($event)"
                    (newCommentData)="addNewComment($event)"
                    [selectedPostId]="selectedPostId">
    </app-posts-card>

    <!-- Displaying Comments -->
    <div *ngIf="showComments && selectedPostId === item.id" class="mt-4">
      <div *ngFor="let comment of commentData.get(item.id)">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
</div>
