<div class="flex border bg-slate-100 border-gray-300 p-4 rounded-lg  mb-4 w-4/6">
  <!-- Avatar (You can replace with user's profile picture if available) -->
  <div class="flex-shrink-0 mr-4">
    <img src="assets/profile2.png" alt="Avatar" class="h-12 w-12 rounded-full">
  </div>

  <!-- Comment Content -->
  <div class="flex-1">
    <!-- Header with Username and Time -->
    <div class="flex items-center justify-between mb-2">
      <h3 class="font-semibold text-lg">{{ comment.firstName + ' ' + comment.lastName }}</h3>
      <span class="text-gray-500 text-sm">{{ comment.date }}</span>
    </div>
    
    <!-- Comment Text -->
    <div class="text-gray-800 mb-2">
      <!-- Dynamic content display based on isExpanded -->
      <ng-container *ngIf="isExpanded; else truncatedContent">
        <p>{{ comment.content }}</p>
      </ng-container>
      <ng-template #truncatedContent>
        <p class="truncate overflow-hidden" [class.line-clamp-3]="!isExpanded">
          {{ comment.content }}
        </p>
      </ng-template>
      <!-- Read more/less link -->
      <div class="text-teal-400 cursor-pointer" *ngIf="comment.content.length > 150" (click)="toggleExpand()">
        {{ isExpanded ? 'Read less' : 'Read more' }}
      </div>
    </div>
    
    <!-- Vote Section -->
    <div class="flex items-center mb-2">
      <!-- Upvote Button -->
      <button class="text-gray-700 mr-2" (click)="upVote()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
        </svg>
      </button>
      <!-- Display Upvotes -->
      <span [style.color]=" comment.votes > 0 ? 'green' : comment.votes < 0 ? 'red' : 'gray'" class="ml-1">
        {{ comment.votes > 0 ? '+' : '' }}{{ comment.votes }}
      </span>
      <!-- Downvote Button -->
      <button class="text-gray-700 ml-2" (click)="downVote()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>
      </button>
    </div>
  </div>
</div>
