<div class="fixed top-0 left-0 w-full bg-white shadow-md z-50">
  <app-header></app-header>
</div>

<div class="relative pt-16">
  <div class="fixed top-0 left-0 w-full h-full bg-cover bg-center bg-slate-100">
       <!-- style="background-image: url('assets/doodle_bg.jpeg'); z-index: -1;"> --> 
  </div>
  
  <div class="relative z-10">
    <!-- <app-signup></app-signup> -->
    <div class="container mx-auto mt-4">
      <!-- <h1 class="text-3xl font-bold underline mb-4">
        Hello world!
      </h1> -->
      <!-- <app-post-content></app-post-content> -->
      <router-outlet></router-outlet>
      
      <!-- <app-comment [comment]="{ content: 'sample comment', username: 'Mj', votes: 0, time: '2:21' }"></app-comment> -->
      
    </div>
  </div>
</div>
