<div class="flex flex-col justify-center">
  <div *ngFor="let post of data" class="post-item w-auto justify-center">
    <!-- Displaying Post Card Component -->
    <app-posts-card [post]="post" 
                    [showComments]="showComments"
                    (viewComments)="toggleViewComments($event)" 
                    (deletePost)="onDeletePost($event)"
                    (newCommentData)="addNewComment($event)"
                    [selectedPostId]="selectedPostId"
                    [commentSize]="commentSizeMap.get(post.id)">
    </app-posts-card>

    <!-- Displaying Comments -->
    <div *ngIf="showComments && selectedPostId === post.id" class="mt-4">
      <!-- {{}} -->
      <div *ngFor="let comment of commentData.get(post.id) ">
        <app-comment [comment]="comment"></app-comment>
      </div>
      </div>
  </div>
  <div *ngIf="isLoading" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-20 w-20"></div>
  </div>
</div>
